<h1>Routes</h1>
<p>GET /cameras - Gets all cameras</p>
<p>POST /cameras - Adds a camera</p>
<p>PATCH /cameras/:id - Edits a camera, based on id in URL</p>
<p>DELETE /cameras/:id - Deletes a camera, based on id in URL</p>

<p>GET /cart - Gets everything in the cart</p>
<p>PATCH /cart/:id/add - Add camera with that id to the cart</p>
<p>PATCH /cart/:id/remove - Remove camera with that id from the cart</p>
